.label {
  width: 100%;
  padding: 10px;
}

.ta-left {
  text-align: left;
}

.mw-300 {
  min-width: 300px !important;
  width: 30% !important;
}

.m-40 {
  margin-left: 1.5% !important;
  margin-right: 1.5% !important;
}

.ui.card:first-child {
  margin-top: 1em !important;
}

.ui.card:last-child {
  margin-bottom: 1em !important;
}

.btn {
  margin-top: 20px !important;
}

.card-selected {
  border: 1px solid green !important;
}

.unavailable {
  border: 1px solid red !important;
}

.red {
  color: red;
}
